@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*Configurações gerais*/
*{
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a, h1, h2, h3, h4, p{
    font-family: 'Open Sans', sans-serif;
}
/*Fim configurações gerais*/

/*Definição de cores*/
:root{
    --cinza: #808285;
    --verde: #11AA58;
    --azul: #3CBACE;
    --roxo: #94399E;
    --rosa: #EF5BA1;
    --vermelho: #ED312F;
    --laranja: #F68934;
    --amarelo: #F5C10D;
    --preto: #000000;
    --branco: #FFFFFF;
}
/*Fim definição de cores*/

/*Configurações do header*/
#topo-feedback{
    align-items: center;
    background-color: var(--branco);
    display: flex;
    height: 15vh;
    justify-content: space-between;
    width: 100%;
}

.logo{
    width: 40%;
}

.logo img{
    height: 100%;
    width: 100%;
}

.div-topo-feedback-esquerda{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 35%;
}

.div-topo-feedback-direita{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 35%;
}

.menu-feedback{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    width: 55%;
}

.menu-feedback ul{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
}

.menu-feedback ul a{
    color: var(--preto);
    font-weight: bold;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.menu-feedback ul a:hover{
    color: var(--rosa);
    border-bottom: 2px solid var(--rosa);
}

.menu-toggle{
    display: none;
}

.menu-toggle i{
    cursor: pointer;
}

#btns{
    background-color: var(--rosa);
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 1em 1.8em;
}

#btns:hover{
    box-shadow: 1px 1px 5px #CCC;
    opacity: 0.8;
    transition: 0.6s;
}

/*Fim das configurações do Header*/

/*Configurações do main*/
.filter{
    border: 1px solid var(--cinza);
    /* box-shadow: 1px 1px 5px #CCC; */
    height: 5vh;
    width: 50%;
}

.select{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 50%;
}

.input-procurar{
    border: 1px solid var(--cinza);
    /* box-shadow: 1px 1px 5px #CCC; */
    height: 5vh;
    width: 100%;
}

select{
    color: black;
    font-size: 1em;
    padding: 0.5em;
}

.input-procurar::placeholder{
    color: black;
    font-size: 1em;
    padding: 0.5em;
}

select option{
    color: black;
    font-size: 1em;
}


.select-input-button{
    align-items: center;
    /* background-color: red; */
    display: flex;
    height: 88%;
    justify-content: center;
    width: 20%;
}

.select-input-button input{
    background-color: var(--rosa);
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 1em 1.8em;
}
.select-input-button input:hover{
    box-shadow: 1px 1px 5px #CCC;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.6s;
}

.filho-select{
    /* background-color: yellow; */
    display: flex;
    height: 50%;
    width: 100%;
}


.container-main-feedbacks-filter{
    /* background-color: #11AA58; */
    display: flex;
    justify-content: center;
    height: 15vh;
    width: 100%;
}


.container-main-feedbacks{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
    width: 100vw;
}

.cards-feedback{
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 5px #CCC;
    display: flex;
    height: 8vh;
    justify-content: space-around;
    width: 40%;
}

.titulos-Comunidades{
    width: 55%;
}

.cards-feedback h3{
    font-size: 1.3em;
    font-weight: 50;
}


.stars{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 15%;
}

.stars p{
    font-size: 1.5em;
}
    
.stars i{
    font-size: 1.5em;
    }


.btnsfeedback button{
    background-color: var(--rosa);
    border: none;
    color: var(--branco);
    font-size: 1em;
    font-weight: bold;
    padding: 0.7em 1.2em;
}

.btnsfeedback button:hover{
    box-shadow: 1px 1px 5px #CCC;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.6s;
}

.vermais{
    align-items: center;
    display: flex;
    height: 5vh;
    justify-content: center;
    width: 100vw;
}
/*Fim confingurações do main*/




/*Media Query 768px*/
@media screen and (max-width: 768px){
    #topo-feedback{
        justify-content: space-around;
    }

    .menu-feedback{
        width: 75%;
    }

    .div-topo-feedback-direita{
        justify-content: flex-end;
        width: 40%;
    }

    .logo{
        width: 100%;
    }

    .div-topo-feedback-esquerda{
        width: 30%;
    }
}
/*Fim Media Query 768px*/



/*Media Query 375px*/
@media screen and (max-width: 375px){
    #topo-feedback{
        height: 4em;
        justify-content: space-around;
    }

    .div-topo-feedback-esquerda{
        width: 47%;
    }

    .div-topo-feedback-direita{
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }

    .menu-toggle{
        align-content: flex-end;
        display: flex;
        font-size: 0.8em;
        justify-content: space-evenly;
        width: 70%;
    }

    .menu-toggle i{
        font-size: 2em;
    }

    
    .menu-toggle p{
        font-size: 1.3em;
        font-weight: bold;
    }
   
    .logo{
        width: 100%;
    }

    .menu-feedback{
        display: none;
    }
}
/*Fim Media Query 375px*/