@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*Configurações gerais*/
*{
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a, h1, h2, h3, h4, p{
    font-family: 'Open Sans', sans-serif;
}
/*Fim configurações gerais*/

/*Definição de cores*/
:root{
    --cinza: #808285;
    --verde: #11AA58;
    --azul: #3CBACE;
    --roxo: #94399E;
    --rosa: #EF5BA1;
    --vermelho: #ED312F;
    --laranja: #F68934;
    --amarelo: #F5C10D;
    --preto: #000000;
    --branco: #FFFFFF;
    --cinza_sombra: #E6E6E6;
}
/*Fim definição de cores*/


/*Configurações da Página de Feedbacks*/


/*Configurações do header*/
#topo-feedback{
    align-items: center;
    background-color: var(--branco);
    display: flex;
    height: 15vh;
    justify-content: space-between;
    width: 100%;
    border: solid 1px var(--cinza_sombra)
}

.logo{
    width: 40%;
}

.logo img{
    height: 100%;
    width: 100%;
}

.div-topo-feedback-esquerda{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 35%;
}

.div-topo-feedback-direita{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 35%;
}

.menu-feedback{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    width: 55%;
}

.menu-feedback ul{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
}

.menu-feedback ul a{
    color: var(--preto);
    font-weight: bold;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.menu-feedback ul a:hover{
    color: var(--rosa);
    border-bottom: 2px solid var(--rosa);
}

#btns{
    background-color: var(--rosa);
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 1em 1.8em;
}

#btns:hover{
    box-shadow: 1px 1px 5px #CCC;
    opacity: 0.8;
    transition: 0.6s;
}

/*Fim das configurações do Header*/

/*Configurações do main*/

.capa-cabeçalho-feedback{
    background: url('../imagens/pessoas.PNG') center center;
    background-size: 100% ;
    background-size: cover ;
    background-repeat: no-repeat;
    height: 20vh;
}

.nome-cabeçalho-feedback{
    height: 5vh;
    width: 15vw;
    background: var(--rosa);
    position: relative; top: 109px; left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nome-cabeçalho-feedback p{
    text-transform: uppercase;
    color: var(--branco);
    font-size: 1.2em;;
    text-align: center;
    font-family:'Open Sans';
    
}

.fotoperfil-cabeçalho-feedback img{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    margin: 50px 50px 0 50px;
    
}

.menu-cabeçalho-feedback{
    background: var(--branco);
    width: 22vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: var(--cinza_sombra) 1px solid;
    box-shadow: 2px 2px 15px var(--cinza_sombra);
    margin-left: 200px;
}

.menu-cabeçalho-feedback a{
    text-decoration: none;
    font-family: 'Open Sans';
    color: var(--cinza);
    font-size: 1.2em;
}

#eventos-home{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 110vh;
    justify-content: center;
    width: 98.90vw;
}


.filtros-feedback{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 25vh;
    width: 100%;    
}

.filtro-feedback{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.50em;
    width: 60vw;
}

.filtro-caixas-feedback{
    width: 50vw;
}

.filtro-categorias-data-feedback{
    display: flex;
    height: 1.80em;
    justify-content: space-between;
    margin-bottom: 0.50em;
    width: 50vw;
}

.filtro-categorias-feedback{
    border: 1px solid var(--cinza);
    color: var(--cinza);
    font-size: 0.90em;
    height: 2em;
    width: 28em;
}

.filtro-data-feedback{
    border: 1px solid var(--cinza);
    color: var(--cinza);
    font-size: 0.90em;
    height: 2em;
    width: 28em;
}

.filtro-procurar-feedback{
    width: 50vw;
}

.filtro-procurar-input-feedback{
    border: 1px solid var(--cinza);
    font-size: 0.90em;
    height: 2em;
    padding-left: 0.30em;
    width: 50vw;
}

.filtro-botão-feedback{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 7em;
}

.filtro-botão-input-feedback{
    background-color: var(--azul);
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 0.70em 2em;
}

.filtro-botão-input-feedback:hover{
    box-shadow: 1px 1px 5px #CCC;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.6s;
}

.container-main-feedbacks{
    /* background-color: var(--cinza); */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
    width: 100%;
}

.cards-feedback{
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 5px #CCC;
    display: flex;
    height: 8vh;
    justify-content: space-around;
    width: 40%;
}

.titulos-Comunidades{
    width: 55%;
}

.cards-feedback h3{
    font-size: 1.3em;
    font-weight: 50;
}


.stars{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 15%;
}

.stars p{
    font-size: 1.5em;
}
    
.stars i{
    font-size: 1.5em;
}


.btnsfeedback button{
    background-color: var(--azul);
    border: none;
    color: var(--branco);
    font-size: 1em;
    font-weight: bold;
    padding: 0.7em 1.2em;
}

.btnsfeedback button:hover{
    box-shadow: 1px 1px 5px #CCC;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.6s;
}

.vermaisbutton{
    display: flex;
    justify-content: center;
    width: 98.9vw;
}

.vermaisbutton button{
    background-color: var(--azul);
    border: none;
    color: var(--branco);
    font-size: 1em;
    font-weight: bold;
    width: 10em;
    height: 3em;
}

.vermaisbutton button:hover{
    box-shadow: 1px 1px 5px #CCC;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.6s;
}
/*Fim confingurações do main*/

/*Configurações do footer*/
#rodapé-feedback{
    height: 20vh;
    width: 98.9,5vw;
    background-color: var(--cinza_sombra);
}

.rodapé-conteudo-feedback{
    display: flex;
    height: 20vh;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 2em;
    width: 80vw;
}

.rodapé-logos-feedback{
    height: 12vh;
    width: 15vw;
}

.rodapé-logo-tw-feedback img{
    height: 4vh;
    width: 10vw;  
}

.rodapé-logo-eventshare-feedback img{
    height: 2.5vh;
    padding-left: 0.15em;
    width: 6vw;
}

.rodapé-contato-feedback p{
    color: var(--preto);
    font-size: 0.75em;
    font-weight: bold;
    padding-top: 1em;
}

.rodapé-redes-sociais-feedback{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 8vh;
    margin-top: 1em;
    width: 8vw;
}

.rodapé-redes-sociais-feedback p{
    color: var(--preto);
    font-size: 0.95em;
    font-weight: bold;
    padding-bottom: 0.50em;
    text-align: center;
}

.rodapé-icones-feedback{
    display: flex;
    justify-content: space-evenly;
    height: 3vh;
    width: 7vw;
}

.rodapé-icones-feedback div{
    height: 4.5vh;
    width: 8vh;
}

.imagens-icones-feedback{
    height: 100%;
    width: 100%;
    padding: 0 0.10em;
}

/*Fim configurações do footer*/

/*Fim página de Feedbacks*/

/*Página de descrição*/
/*Configurações do header*/
#topo-descrição{
    align-items: center;
    background-color: var(--branco);
    display: flex;
    height: 15vh;
    justify-content: space-between;
    width: 100%;
    border: var(--cinza_sombra) solid 1px;
}

.logo-descrição{
    width: 40%;
}

.logo-descrição img{
    height: 100%;
    width: 100%;
}

.div-topo-descrição-esquerda{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 35%;
    
}

.div-topo-descrição-direita{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 35%;
}

.menu-descrição{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    width: 40%;
}

.menu-descrição ul{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
}

.menu-descrição ul a{
    color: var(--preto);
    font-weight: bold;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.menu-descrição ul a:hover{
    color: var(--rosa);
    border-bottom: 2px solid var(--rosa);
}

/*Fim das configurações do Header*/

/* Configurações main */
.container_descrição{
    /* background: #ED312F; */
    display: flex;
    /* width: 100vw; */
    justify-content: space-evenly;
    height: 25vh;
    /* background: #5a155a; */
}

.container2_descrição{
    display: flex;
    justify-content: space-evenly;
    /* background: #3CBACE; */
}

.data_descrição{
    /* background: #F5C10D; */
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 15vh;
}

.data_descrição h2{
    font-size: 1.3em;
}

.descrição_descrição{
    /* background: red; */
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-bottom: 30px;
}

.descrição_descrição img{
    height:40vh ; 
}

.descrição_descrição p{
    font-size: 1.2em;
    line-height: 1.4em;
    margin-top: 0.7em;
}

.direita_topo_descrição{
    width: 20vw;
    display: flex;
    flex-direction: column; 
    /* background: #11AA58; */
    height: 20vh;
}

.direita_topo_descrição button{
    background-color: var(--rosa);
    color: var(--branco);
    font-size: 1em;
    font-weight: bold;
    /* padding: 1em 1.8em; */
    border: none;
    height: 6vh; 
    cursor: pointer;
} 

button:hover{
    box-shadow: 1px 1px 5px #CCC;
   opacity: 0.8;
   transition: 0.6s;
}

.info_descrição{
    background: var(--branco);
    /* background: #94399E; */
    width: 25vw;
    height: 57vh;
    /* display: flex;
    flex-direction: column; */
    border: solid var(--cinza_sombra) 1px;
    box-shadow: 10px 10px 20px var(--cinza_sombra);
    margin-right: 65px;
    margin-top: 40px;
}

.info_descrição img{
    width: 2.5vw;
    height: 5vh;
    margin: 20px;
}

.esquerda_topo_descrição{
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
}

.esquerda_topo_descrição h1{
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
    
}

.quadrado_forades{
    /* background: #F5C10D; */
   width: 25vw;
   height: 25vh;
   display: flex;
   justify-content: center;
   align-items: center;
   border: var(--cinza_sombra) solid 1px;
   background: var(--branco);
   box-shadow: 10px 10px 20px var(--cinza_sombra);
   margin-top: 20px;
}

.redes_descrição{
    display: flex;
    align-items: center;
    width: 20vw;
    margin: 5px 0;
    justify-content: space-around;
}

.redes_descrição a{
    padding: 3px;
}

.redes_descrição img{
  width: 2.5em;
}

.redes_descrição p{
    font-size: 1.2em;
}

.usuario_descrição{
    display: flex;
    align-items: center;
}

.usuario_descrição img{
    height: 8vh;
    margin-top: 8px;
    margin-right: 10px;
}

.parte1_descrição{
    /* background: #11AA58; */
    display: flex; 
     /* justify-content: space-around; */
    /*align-content: center; */
    height: 6vw; 
    margin-top: 10px;
}

.parte2_descrição{
     display: flex; 
     /* justify-content: space-around; */
    /*align-content: center; */ 
    height: 7vw;
    /* background: #F5C10D; */
}

.local_descrição{
   margin: 0; 
}

.local_descrição h2{
    font-size: 1.3em
}

.parte3_descrição{
    /* background: #11AA58; */
    height: 28vh;
    /* margin-top: 10px; */
}

.parte3_descrição img{
    width: 24.9vw;
    height: 28vh;
    margin: 0;
    
}
/* Fim configurações main */

/*Configurações do footer*/
#rodapé-descrição{
    /* background: var(--branco); */
    height: 20vh;
    width: 98.9vw;
    /* border: var(--cinza) solid 1px; */
    background: var(--cinza_sombra)
}

.rodapé-conteudo-descrição{
    display: flex;
    height: 20vh;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 2em;
    width: 80vw;
}

.rodapé-logos-descrição{
    height: 12vh;
    width: 15vw;
}

.rodapé-logo-tw-descrição img{
    height: 4vh;
    width: 10vw;  
}

.rodapé-logo-eventshare-descrição img{
    height: 2.5vh;
    padding-left: 0.15em;
    width: 6vw;
}

.rodapé-contato-descrição p{
    color: var(--preto);
    font-size: 0.75em;
    font-weight: bold;
    padding-top: 1em;
}

.rodapé-redes-sociais-descrição{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 8vh;
    margin-top: 1em;
    width: 8vw;
}

.rodapé-redes-sociais-descrição p{
    color: var(--preto);
    font-size: 0.95em;
    font-weight: bold;
    padding-bottom: 0.50em;
    text-align: center;
}

.rodapé-icones-descrição{
    display: flex;
    justify-content: space-evenly;
    height: 3vh;
    width: 7vw;
}

.rodapé-icones-descrição div{
    height: 4.5vh;
    width: 8vh;
}

.imagens_icones-descrição{
    height: 100%;
    width: 100%;
    padding: 0 0.10em;
}
/*Fim página de descrição*/

/*Página de submeter evento3*/
#topo-sub3{
    align-items: center;
    background-color: var(--branco);
    display: flex;
    height: 15vh;
    justify-content: space-between;
    width: 100%;
    border: solid 1px var(--cinza_sombra)
}

.logo-sub3{
    width: 40%;
}

.logo-sub3 img{
    height: 100%;
    width: 100%;
}

.div-topo-sub3-esquerda{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 35%;
}

.div-topo-sub3-direita{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 35%;
}

.menu-sub3{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    width: 55%;
}

.menu-sub3 ul{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
}

.menu-sub3 ul a{
    color: var(--preto);
    font-weight: bold;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.menu-sub3 ul a:hover{
    color: var(--rosa);
    border-bottom: 2px solid var(--rosa);
}

#btns-sub3{
    background-color: var(--rosa);
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 1em 1.8em;
}

#btns-sub3:hover{
    box-shadow: 1px 1px 5px #CCC;
    opacity: 0.8;
    transition: 0.6s;
}

/*Fim das configurações do Header*/

/* Configurações main */
.bolinhas_sub3{
    /* background: #F5C10D; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.hr-sub3{
    height: 0.4vh;
    background: var(--preto);
    border: none;
    width: 25vw; 
}


.bolinhas_sub3 img{
    width: 2.5vw;
}

.textobola_sub3{
    /* background: #ED312F; */
    display: flex;
    margin: 0 5px;
    flex-direction: column;
    align-items: center;
}

.textobola_sub3 p{
    color: var(--cinza);
    font-size: 0.9em;
}

.banner_sub3 img{
    width: 98.9vw;
}

.texto_sub3{
    display: flex;
    /* background: #11AA58; */
    flex-direction: column;
    align-items: center;
    height: 20vh;
    justify-content: center;
    line-height: 5em;
}

.texto_sub3 h1{
    font-weight: normal;
    font-size: 2em;
}

.texto_sub3 p{
    font-size:1.5em;
}


.botão_sub3 img{
    width: 8vw;
}

.botão_sub3 a{
    text-decoration: none;
   
}

.botão_sub3 p{
    color: var(--preto);
    font-size: 2em;
    text-align: center;
}

.botão_sub3{
    display: flex;
    justify-content: center;
}

.b_sub3{
    background: var(--branco);
    margin: 20px 50px;
    width: 15vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--cinza_sombra) solid 1px;
    box-shadow: 2px 2px 15px var(--cinza_sombra);
}

/*Configurações do footer*/
#rodapé-sub3{
    /* background: var(--branco); */
    height: 20vh;
    width: 98.9vw;
    /* border: var(--cinza) solid 1px; */
    background: var(--cinza_sombra)
}

.rodapé-conteudo-sub3{
    display: flex;
    height: 20vh;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 2em;
    width: 80vw;
}

.rodapé-logos-sub3{
    height: 12vh;
    width: 15vw;
}

.rodapé-logo-tw-sub3 img{
    height: 4vh;
    width: 10vw;  
}

.rodapé-logo-eventshare-sub3 img{
    height: 2.5vh;
    padding-left: 0.15em;
    width: 6vw;
}

.rodapé-contato-sub3 p{
    color: var(--preto);
    font-size: 0.75em;
    font-weight: bold;
    padding-top: 1em;
}

.rodapé-redes-sociais-sub3{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 8vh;
    margin-top: 1em;
    width: 8vw;
}

.rodapé-redes-sociais-sub3 p{
    color: var(--preto);
    font-size: 0.95em;
    font-weight: bold;
    padding-bottom: 0.50em;
    text-align: center;
}

.rodapé-icones-sub3{
    display: flex;
    justify-content: space-evenly;
    height: 3vh;
    width: 7vw;
}

.rodapé-icones-sub3 div{
    height: 4.5vh;
    width: 8vh;
}

.imagens_icones-sub3{
    height: 100%;
    width: 100%;
    padding: 0 0.10em;
}
/*Fim das configurações do footer*/

/*Fim da página submeter evento3*/



/*Página de submeter evento2*/
#topo-sub2{
    align-items: center;
    background-color: var(--branco);
    display: flex;
    height: 15vh;
    justify-content: space-between;
    width: 100%;
    border: var(--cinza_sombra) solid 1px;
}

.logo-sub2{
    width: 40%;
}

.logo-sub2 img{
    height: 100%;
    width: 100%;
}

.div-topo-sub2-esquerda{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 35%;
    
}

.div-topo-sub2-direita{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 35%;
}

.menu-sub2{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    width: 55%;
}

.menu-sub2 ul{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
}

.menu-sub2 ul a{
    color: var(--preto);
    font-weight: bold;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.menu-sub2 ul a:hover{
    color: var(--rosa);
    border-bottom: 2px solid var(--rosa);
}

#btns-sub2{
    background-color: var(--rosa);
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 1em 1.8em;
}

#btns-sub2:hover{
    box-shadow: 1px 1px 5px #CCC;
    opacity: 0.8;
    transition: 0.6s;
}


/*Fim das configurações do Header*/

/* Configurações main */
.bolinhas_sub2{
    /* background: #F5C10D; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.hr_sub2{
    height: 0.4vh;
    background: var(--preto);
    border: none;
    width: 25vw; 
}

.bolinhas_sub2 img{
    width: 2.5vw;
}

.textobola_sub2{
    /* background: #ED312F; */
    display: flex;
    margin: 0 5px;
    flex-direction: column;
    align-items: center;
}

.textobola_sub2 p{
    color: var(--cinza);
    font-size: 0.9em;
}

.banner_sub2 img{
    width: 98.9vw;
}

.form_sub2{
    display: flex;
    justify-content: center;
    /* background: #3CBACE; */
    margin: 20px 0;
}

.form_sub2 input{
    width: 50vw;
    margin: 8px 0;
    height: 5vh;
    border: var(--cinza_sombra) solid 1px;
    box-shadow: 2px 2px 15px var(--cinza_sombra);
}

.form_sub2 p{
    font-size: 0.7em;
}

.form_sub2 button{
    background-color: var(--rosa);
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 1em 1.8em; 
    margin: 20px auto;
    cursor: pointer;
}

.input_sub2 input{
    font-size:0.9em;
}

::placeholder{
    padding-left: 5px
}

button:hover{
   box-shadow: 1px 1px 5px var(--cinza_sombra);
   opacity: 0.8;
   transition: 0.6s;
}

.botão_sub2{
    /* background: red; */
    display: flex;
    justify-content: center;
}



/* Fim Configurações main */

/*Configurações do footer*/
#rodapé-sub2{
    /* background: var(--branco); */
    height: 20vh;
    width: 98.9vw;
    /* border: var(--cinza) solid 1px; */
    background: var(--cinza_sombra)
}

.rodapé-conteudo-sub2{
    display: flex;
    height: 20vh;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 2em;
    width: 80vw;
}

.rodapé-logos-sub2{
    height: 12vh;
    width: 15vw;
}

.rodapé-logo-tw-sub2 img{
    height: 4vh;
    width: 10vw;  
}

.rodapé-logo-eventshare-sub2 img{
    height: 2.5vh;
    padding-left: 0.15em;
    width: 6vw;
}

.rodapé-contato-sub2 p{
    color: var(--preto);
    font-size: 0.75em;
    font-weight: bold;
    padding-top: 1em;
}

.rodapé-redes-sociais-sub2{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 8vh;
    margin-top: 1em;
    width: 8vw;
}

.rodapé-redes-sociais-sub2 p{
    color: var(--preto);
    font-size: 0.95em;
    font-weight: bold;
    padding-bottom: 0.50em;
    text-align: center;
}

.rodapé-icones-sub2{
    display: flex;
    justify-content: space-evenly;
    height: 3vh;
    width: 7vw;
}

.rodapé-icones-sub2 div{
    height: 4.5vh;
    width: 8vh;
}

.imagens_icones-sub2{
    height: 100%;
    width: 100%;
    padding: 0 0.10em;
}
/*Fim da página de submeter evento*/


/*Página de evento*/
#topo-evento{
    align-items: center;
    background-color: var(--branco);
    display: flex;
    height: 15vh;
    justify-content: space-between;
    width: 100%;
    border: solid 1px var(--cinza_sombra);
}
  


.logo-evento{
    width: 40%;
}

.logo-evento img {
    height: 100%;
    width: 100%;
}

.div-topo-evento-esquerda{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 35%;
}

.div-topo-evento-direita{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 35%;
}

.menu-evento{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    width: 55%;
}

.menu-evento ul{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
}

.menu-evento ul a{
    color: var(--preto);
    font-weight: bold;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.menu-evento ul a:hover{
    color: var(--rosa);
    border-bottom: 2px solid var(--rosa);
}

.menu-toggle-evento{
    display: none;
}

.menu-toggle-evento i{
    cursor: pointer;
}

#btns-evento{
    background-color: var(--rosa);
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 1em 1.8em;
}

#btns-evento:hover {
    box-shadow: 1px 1px 5px #CCC;
    opacity: 0.8;
    transition: 0.6s;
}

/*FIM HEADER*/


/*MEIO DO SITE/CONTEUDO*/

.banner-eventos {
    align-items: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: linear-gradient(to right, rgba(60, 186, 206, 0.3), rgb(243, 193, 13, 0.3)), url(../imagens/aula.PNG);
    display: flex;
    height: 50vh;
    justify-content: center;
    text-transform: uppercase;    
}

.texto2-evento{
    display: flex;
    flex-direction: column;
    height: 26em;
    justify-content: space-evenly;
    width: 60%;
}

.textinhos-evento p {
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
}

.titulo-evento {
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.titulo-evento h1 {
    color: var(--branco);
    font-size: 5em;
}

.botao-evento {
    align-items: center;
    display: flex;
    justify-content: center;
}

.botao-evento a:hover .evento{
    box-shadow: 1px 1px 5px #CCC;
    opacity: 0.8;
    transition: 0.6s;
}


.botao-evento a {
    background: var(--rosa);
    border: none;
    color: var(--branco);
    font-weight: bold;
    padding: 1em 1.8em;
    text-align: center;
    text-decoration: none;
}

.container-evento {
    width: 100%;
    margin-bottom: 2em;
}

.filho-evento{
    display: flex;
    height: 25em;
    justify-content: flex-end; 
    margin: 1.5em;
    width: 70%;
    /* justify-content: center; */
    

}

.textinhos-evento {
    width: 100%;
}

#rodapé-evento{
    background: var(--branco);
    height: 20vh;
    width: 98.9vw;
    /* border: var(--cinza) solid 1px; */
    background: var(--cinza_sombra);
}

.rodapé-conteudo-evento{
    display: flex;
    height: 20vh;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 2em;
    width: 80vw;
}

.rodapé-logos-evento{
    height: 12vh;
    width: 15vw;
}

.rodapé-logo-tw-evento img{
    height: 6vh;
    width: 10vw;  
}

.rodapé-logo-eventshare-evento img{
    height: 2.5vh;
    padding-left: 0.15em;
    width: 6vw;
}

.rodapé-contato-evento p{
    color: var(--preto);
    font-size: 0.75em;
    font-weight: bold;
    padding-top: 1em;
}

.rodapé-redes-sociais-evento{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 8vh;
    margin-top: 1em;
    width: 8vw;
}

.rodapé-redes-sociais-evento p{
    color: var(--preto);
    font-size: 0.95em;
    font-weight: bold;
    padding-bottom: 0.50em;
    text-align: center;
}

.rodapé-icones-evento{
    display: flex;
    justify-content: space-evenly;
    height: 3vh;
    width: 7vw;
}

.rodapé-icones-evento div{
    height: 4.5vh;
    width: 8vh;
}

.imagens_icones_evento{
    height: 100%;
    width: 100%;
    padding: 0 0.10em;
}

/*Fim página de evento*/


/*Media Query Submeter eventos 768px*/
@media screen and (max-width: 768px){
    #topo-sub2{
        /* background: red; */
        height: 20vh;
        width: 99.9vw;
        display: flex;
    }
    
    .logo-sub2 img{
        width: 25vw;
    }
    
    .div-topo-sub2-direita{
        /* background: #11AA58; */
        width: 50vw;
        display: flex;
        flex-direction: column;
    }
    
    .menu-sub2{
        /* background: yellow; */
        width: 50vw;
        height: 25vh;
    }

.textobola_sub2 img{
    width: 5vw;
}

.textobola_sub2 p{
    text-align: center;
}

.banner_sub2 img{
    width: 100vw;
}

.form_sub2{
    /* width: 80vw; */
}
    .rodapé-logo-eventshare-sub2, .rodapé-contato-sub2, .rodapé-icones-sub2, .rodapé-redes-sociais-sub2{
        display: none
    }
    
    .rodapé-logo-tw-sub2 img{
        width: 20vw;
    }
    
    #rodapé-sub2{
        
        width: 100vw;
        height: 15vh;
        margin: 0;
        /* padding: 0; */
    }
    
    .rodapé-conteudo-sub2{
        /* background: yellow; */
        height: 15vh;
    }
    
    .rodapé-logos-sub2{
        /* background: #ED312F; */
        width: 40vw;
        height: 8vh;
    }
}
/*Fim Media Query Submeter eventos 768px*/

/*Página de descrição Media Query 768px*/
@media screen and (max-width: 768px){
    #topo-descrição{
        /* background: #3CBACE; */
        height: 20vh;
    }

    .menu-descrição{
        height: 20vh;
        /* background: #ED312F; */
        width: 30vw;
    }

    .logo-descrição img{
        width: 20vw;
    }
    
    .container_descrição{
        /* background: #3CBACE; */
        width: 100vw;
    }

    .h1_descrição{
        width: 50vw;
    }

    .quadrado_forades{
        width: 35vw;
    }

    .redes_descrição{
        width: 30vw;
    }

    .redes_descrição p{
        font-size: 1em;
    }

    .redes_descrição img{
        width: 4vw;
        margin: 2px;
    }

    .direita_topo_descrição{
        display: flex;
        width: 30vw;
        justify-content: center;
    }

    .direita_topo_descrição button{
        width: 30vw;
    }
 
    .container2_descrição{
        display: block;
        margin-top: 50px;
    }

    .descrição_descrição{
        width: 70vw;
        margin-left: 110px;
        margin-bottom: 30px;
    }

    .descrição_descrição img{
        height: 50vh; 
    }

    .info_descrição{
        width: 100vw;
        background: var(--cinza_sombra);
        height: 35.2vh;
        /* background: #11AA58; */
        display: flex;
        flex-flow: row nowrap;
       
    }

    .textoinfo_descrição{
        /* background: #F5C10D; */
        width: 60vw;
    }

    .parte1_descrição{
        /* background: #EF5BA1; */
        width: 60vw;
        height: 15vh;
        margin-top: 10px;
    }

    .parte1_descrição img{
        width: 4vw;
        height: 5vh;
        margin: 22px;
    }

    .data_descrição{
        /* background: #11AA58; */
        width: 70vw;
    }

    .parte2_descrição{
        /* background: yellow; */
        width: 60vw;
        height: 20vh;
        display: flex;
        justify-content: center;
      
    }

    .parte2_descrição img{
        width: 4vw;
        height: 5vh;
        margin: 22px;
    }

    .local_descrição{
        /* background: #11AA58; */
        width: 70vw;
        
    }

    .parte3_descrição{
        /* background: red; */
        /* width: 10vw;
        height: 10vh; */
        
    }

    .parte3_descrição img{
        width: 40vw;
        height: 35vh;  
    }

   #rodapé-descrição{
       background: var(--branco);
   }

   .rodapé-logo-tw-descrição img{
       width: 15vw;
   }

   .rodapé-logo-eventshare-descrição img{
       width: 9vw;
   }

   .rodapé-contato-descrição{
       /* background: #EF5BA1; */
       width: 40vw;
   }

   .rodapé-icones-descrição img{
       width: 4vw;
   }
}
/*Fim da Media Query descrição 768px*/

/*Media Query Feedbacks 768px*/
@media screen and (max-width: 768px){
    /*Configurações do topo*/
    #topo-feedback{
        justify-content: space-around;
    }

    .menu-feedback{
        width: 85%;
    }

    .div-topo-feedback-direita{
        justify-content: flex-end;
        width: 40%;
    }

    .logo{
        width: 100%;
    }

    .div-topo-feedback-esquerda{
        align-items: center;
        width: 30%;
    }
    /*Fim configurações do topo*/
    .capa-cabeçalho-feedback{
        width: 100vw;
        height: 15vh;
    }
    
    .nome-cabeçalho-feedback{
        width: 30vw;
        height: 5vh;
        margin-right: 5px;
        position: relative; top: 63.8px; left: 200px;
    }
    
    .fotoperfil-cabeçalho-feedback img{
        width: 13vw;
        height: 15vh;
        margin: 17px 40px;
    }
    
    .menu-cabeçalho-feedback{
        width: 50vw;
        margin-left: 200px;
        margin-top: 0px;
    }
    
    .filtro-feedback{
        width: 80vw;
    }
    
    .filtro-caixas-feedback{
        width: 60vw;
    }
    
    .filtro-categorias-data-feedback{
        width: 60vw;
    }
    
    .filtro-categorias-feedback{
        width: 30em;
    }
    
    .filtro-data-feedback{
        width: 30em;
    }
    
    .filtro-procurar-input-feedback{
        width: 60vw;
    }

    .cards-feedback{
        align-items: center;
        height: 10vh;
        width:95%;
    }

    .titulos-Comunidades{
        width:55%;
    }

    .btnsfeedback button{
        padding: 1.1em 1.2em;
    }

    .stars{
        width: 10%;
    }
    
    #rodapé-home{
        background: var(--branco);
    }
 
    .rodapé-logo-tw-feedback img{
        width: 15vw;
    }
 
    .rodapé-logo-eventshare-feedback img{
        width: 9vw;
    }
 
    .rodapé-contato-feedback{
        width: 40vw;
    }
 
    .rodapé-icones-feedback img{
        width: 4vw;
    }
}   
/*Fim Media Query Feedbacks 768px*/

/*Media Query evento 768px*/

@media screen and (max-width:768px){
    .textinhos-evento p {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .filho-evento {
        width: 96%;
        display: flex;
        justify-content: center;
    }


    #topo-evento{
        justify-content: space-around;
    }

    .menu-evento{
        width: 85%;
    }

    .div-topo-evento-direita{
        justify-content: flex-end;
        width: 40%;
    }

    .logo-evento{
        width: 100%;
    }

    .div-topo-evento-esquerda{
        align-items: center;
        width: 30%;
    }

    #rodapé-evento{
        background: var(--branco);
        background: var(--cinza_sombra);
        width: 100%;
    }
 
    .rodapé-logo-tw-evento img{
        width: 15vw;
    }
 
    .rodapé-logo-eventshare-evento img{
        width: 9vw;
    }
 
    .rodapé-contato-evento{
        /* background: #EF5BA1; */
        width: 40vw;
    }
 
    .rodapé-icones-evento img{
        width: 4vw;

    }
}
/*Fim Media Query evento 768px*/

/*Media Query Submeter3 768px*/
@media screen and (max-width: 768px){
    #topo-sub3{
        justify-content: space-around;
    }

    .menu-sub3{
        width: 85%;
    }

    .div-topo-sub3-direita{
        justify-content: flex-end;
        width: 40%;
    }

    .logo-sub3{
        width: 100%;
    }

    .div-topo-sub3-esquerda{
        align-items: center;
        width: 30%;
    }

.textobola_sub3 img{
    width: 5vw;
}

.textobola_sub3 p{
    text-align: center;
}

.banner_sub3 img{
    width: 100vw;
}

.b_sub3{
    width: 25vw;
}

.b_sub3 img{
    width: 13vw;
}

.rodapé-logo-eventshare-sub3, .rodapé-contato-sub3, .rodapé-icones-sub3, .rodapé-redes-sociais-sub3{
    display: none
}

.rodapé-logo-tw-sub3 img{
    width: 20vw;
}

#rodapé-sub3{
    
    width: 100vw;
    height: 15vh;
    margin: 0;
    /* padding: 0; */
}

.rodapé-conteudo-sub3{
    /* background: yellow; */
    height: 15vh;
}

.rodapé-logos-sub3{
    /* background: #ED312F; */
    width: 40vw;
    height: 8vh;
}

}
/*Fim Media Query Submeter3 768px*/

/*Media Query Submeter Eventos2 375px*/

@media screen and (max-width: 375px){
    #topo-sub2{
        height: 25vh;
        justify-content: space-around;
    }

    .div-topo-sub2-esquerda{
        padding-bottom: 5vh;
        width: 40%;
    }

    .div-topo-sub2-direita{
        align-items: center;
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }

    .menu-sub2{
        padding-bottom: 5vh;
        justify-content: space-between;
        width: 100%;
    }

    #btns-sub2{
        position: absolute;
        top: 100px;
        right: 110px;
        padding: 1em 1em;
    }

      
    .logo{
        width: 100%;
    }	



.bolinhas_sub2{
    /* background: #3CBACE; */
    width: 100vw;
}    
.textobola_sub2 img{
    width: 10vw;
}

.textobola_sub2 p{
    text-align: center;
}

.resumo_sub2{
  margin-bottom: 10px;
}

.bolinhas_sub2{
    /* background: #11AA58; */
    height: 15vh;
    
}

.banner_sub2{
    display: none;
}

.main_sub2{
    /* background: #11AA58; */
    width:100vw;
}
.form_sub2{
    /* background: #3CBACE; */
    width: 100vw;
}

.form_sub2 input{
    width: 80vw;
}

.rodapé-logo-eventshare-sub2, .rodapé-contato-sub2, .rodapé-icones-sub2, .rodapé-redes-sociais-sub2{
    display: none
}

.rodapé-logo-tw-sub2 img{
    width: 30vw;
}

#rodapé-sub2{
    
    width: 100vw;
    height: 15vh;
    margin: 0;
    /* padding: 0; */
}

.rodapé-conteudo-sub2{
    /* background: yellow; */
    height: 15vh;
}

.rodapé-logos-sub2{
    /* background: #ED312F; */
    width: 40vw;
    height: 8vh;
    }

}


/*Fim Media Query submeter eventos2 375px*/


/*Media Query descrição 375px*/
@media screen and (max-width: 375px){
    #topo-descrição{
        /* background: red; */
        height: 25vh;
        width: 100vw;
        display: flex;
    }
    
    .logo-descrição img{
        width: 40vw;
    }
    
    .div-topo-descrição-direita{
        /* background: #11AA58; */
        width: 50vw;
        display: flex;
        flex-direction: column;
    }
    
    .menu-descrição{
        /* background: yellow; */
        width: 50vw;
        height: 25vh;
    }
    
    .container_descrição{
        display: block;
    }
    
    .h1_descrição{
        
        width: 80vw;
    }
    
    .esquerda_topo_descrição{
        margin-left: 30px;
    }
    
    .quadrado_forades{
        width: 90vw;
        margin: 20px auto;
        /* background: red; */
        height: 35vh;
    }
    
    .direita_topo_descrição{
        /* background: #F5C10D; */
        width: 80vw;
        height: 30vh;
    
    }
    
    .direita_topo_descrição button{
        width: 80vw;
        height: 10vh;
    
    }
    
    .redes_descrição{
        /* background: #3CBACE; */
        width:80vw;
        font-size: 1.5em; 
    }
    
    .redes_descrição p{
        font-size: 1em;
    }
    
    .redes_descrição img{
       margin-top: 8px;
        width: 10vw;
    }
    
    .container2_descrição{
        margin-top: 280px;
    }
    
    .container2_descrição img{
        height: 30vh;
    }
    
    .descrição_descrição{
        display: flex;
        justify-content: center;
        /* background: #EF5BA1; */
        margin: 20px auto;
        width: 90vw;
    }
    
    .info_descrição{
        display: block;
        height: 42vh;
        /* background: #EF5BA1; */
    }
    
    .textoinfo_descrição{
        /* background: #11AA58; */
        width: 100vw;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    
    .textoinfo_descrição img{
        
        width: 10vw;
        height: 8vh;
    }
    
    .parte1_descrição{
        /* background: #F5C10D; */
        width: 90vw;
    }
    
    .parte1_descrição img{
        width: 8vw;
        height: 6vh;
    }
    
    .parte2_descrição{
        width: 90vw;
        /* background: #3CBACE; */
        height: 23vh;
    }
    
    .parte2_descrição img{
        width: 8vw;
        height: 6vh;
    }
    
    .parte3_descrição img{
        width: 100vw;
    }
    
    #rodapé-descrição{
        /* background: #EF5BA1; */
        margin-top: 250px;
        height: 35vh;
        
    }
    
    .rodapé-conteudo-descrição{
        display: block;
    }
    
    .rodapé-logo-tw-descrição img{
        width: 27vw;
    }
     
    .rodapé-logo-eventshare-descrição img{
        width: 18vw;
    }
    
    .rodapé-contato-descrição{
        /* background: #3CBACE; */
        width: 70vw;
    }
    
    .rodapé-redes-sociais-descrição{
        /* background: #11AA58; */
        width: 80vw;
        height: 15vh;
        
    }
    
    .rodapé-icones-descrição img{
        width: 10vw;
        height: 6vh;
        margin: 0 3px;
    }
}
/*Fim Media Query descrição 375px*/


/*Media Query Feedbacks 375px*/
@media screen and (max-width: 375px){
    /*Configurações do topo*/
    #topo-feedback{
        height: 25vh;
        justify-content: space-around;
    }

    .div-topo-feedback-esquerda{
        padding-bottom: 5vh;
        width: 40%;
    }

    .div-topo-feedback-direita{
        align-items: center;
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }

    .menu-feedback{
        padding-bottom: 5vh;
        justify-content: space-between;
        width: 100%;
    }

    #btns{
        position: absolute;
        top: 100px;
        right: 110px;
        padding: 1em 1em;
    }

      
    .logo{
        width: 100%;
    }

    /*Fim das configurações do topo*/

    .capa-cabeçalho-feedback{
        width: 100vw;
        height: 15vh;
    }
    
    .nome-cabeçalho-feedback{
        width: 50vw;
        height: 5vh;
        margin-right: 5px;
        position: relative; top: 64px; left: 120px;
    }
    
    .fotoperfil-cabeçalho-feedback img{
        width: 25vw;
        height: 15vh;
        margin: 17px 20px;
    }
    
    .menu-cabeçalho-feedback{
        width: 80vw;
        margin-left: 40px;
        margin-top: 60px;
    }
    

    .filtro-feedback{
        display: block;
        width: 80vw;
    }
    
    .filtro-caixas-feedback{
        width: 80vw;
    }
    
    .filtro-categorias-data-feedback{
        margin-bottom: 0.10em; 
        width: 80vw;
    }
    
    .filtro-categorias-feedback{
        font-size: 0.80em;
        width: 40em;
    }
    
    .filtro-data-feedback{
        font-size: 0.80em;
        width: 40em;
    }
    
    .filtro-procurar-input-feedback{
        font-size: 0.80em;
        margin-bottom: 0.50em;
        width: 80vw;
    }
    
    .filtro-botão-feedback{ 
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    
    .filtro-botão-input-feedback{
        font-size: 0.80em;
        padding: 0.70em 2em;
    }
    
    .filtro-botão-input-feedback:hover{
        box-shadow: none;
        cursor: none;
    }

    .cards-feedback{
        height: 8vh;
        width: 95%;
    }

    .titulos-Comunidades{
        width: 30%;
    }

    .cards-feedback h3{
        font-size: 1.1em;
        font-weight: 50;
    }

    .stars{
        width: 20%;
    }

    .btnsfeedback button{
        padding: 0.7em 1.2em;
    }

    #rodapé-feedback{
        /* background: #EF5BA1; */
        margin-top: 250px;
        height: 35vh;
        
    }
    
    .rodapé-conteudo-feedback{
        display: block;
    }
    
    .rodapé-logo-tw-feedback img{
        width: 27vw;
    }
     
    .rodapé-logo-eventshare-feedback img{
        width: 18vw;
    }
    
    .rodapé-contato-feedback{
        /* background: #3CBACE; */
        width: 70vw;
    }
    
    .rodapé-redes-sociais-feedback{
        /* background: #11AA58; */
        width: 80vw;
        height: 15vh;
        
    }
        
    .rodapé-icones-feedback img{
        width: 10vw;
        height: 6vh;
        margin: 0 3px;
    }
}

/*Fim Media Query Feedbacks 375px */

/*Meida Query Evento 375px*/
@media screen and (max-width:375px){
    #topo-evento{
        height: 25vh;
        justify-content: space-around;
    }

    .div-topo-evento-esquerda{
        padding-bottom: 5vh;
        width: 40%;
    }

    .div-topo-evento-direita{
        align-items: center;
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }

    .menu-evento{
        padding-bottom: 5vh;
        justify-content: space-between;
        width: 100%;
    }

    #btns-evento{
        position: absolute;
        top: 100px;
        right: 110px;
        padding: 1em 1em;
    }

      
    .logo{
        width: 100%;
    }


    .banner-eventos {
        height: 30vh;
    }

    .logo-evento{
        width: 100%;
    }

    .texto2-evento{
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
 
    }

    .titulo-evento h1{
        font-size: 2.5em;
    }

    .textinhos-evento {
        height: 30em;
        width: 100%;
        font-size: 0.8em;

        
    }

    .botao-evento{
        height: 0em;

    }

    .filho-evento {
        width: 90%;
        height: 90%;
    }

    .container-evento{
        height: 25em;

    }

    #rodapé-evento{
        /* background: #EF5BA1; */
        height: 35vh;
        
    }
    
    .rodapé-conteudo-evento{
        display: block;
    }
    
    .rodapé-logo-tw-evento img{
        width: 27vw;
    }
     
    .rodapé-logo-eventshare-evento img{
        width: 18vw;
    }
    
    .rodapé-contato-evento{
        /* background: #3CBACE; */
        width: 70vw;
    }
    
    .rodapé-redes-sociais-evento{
        /* background: #11AA58; */
        width: 80vw;
        height: 15vh;
        
    }
    
    
    .rodapé-icones-evento img{
        width: 10vw;
        height: 6vh;
        margin: 0 3px;
    }

}
/*Fim Media Query Evento 375px*/

/*Media Query Submeter evento3 375px*/
@media screen and (max-width: 375px){
    #topo-sub3{
        height: 25vh;
        justify-content: space-around;
        width: 100vw;
    }

    .div-topo-sub3-esquerda{
        padding-bottom: 5vh;
        width: 40%;
    }

    .div-topo-sub3-direita{
        align-items: center;
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }

    .menu-sub3{
        padding-bottom: 5vh;
        justify-content: space-between;
        width: 100%;
    }

    #btns-sub3{
        position: absolute;
        top: 100px;
        right: 110px;
        padding: 1em 1em;
    }

      
    .logo-sub3{
        width: 100%;
    }	

.bolinhas_sub3{
    /* background: #3CBACE; */
    width: 100vw;
}    
.textobola_sub3 img{
    width: 10vw;
}

.textobola_sub3 p{
    text-align: center;
}

.resumo_sub3{
  margin-bottom: 10px;
}

.bolinhas_sub3{
    /* background: #11AA58; */
    height: 15vh;
    
}

.banner_sub3{
    display: none;
}

.texto_sub3 h1{
    font-size: 1.5em;
    /* margin-top: 20px; */
}

.texto_sub3 p{
    font-size: 1.3em;
    /* background: #5a155a; */
    line-height: 1.2em;
    width: 90vw;
    text-align: center;
}

.botão_sub3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b_sub3{
    width: 50vw
}

.b_sub3 img{
    width: 20vw;
}

.rodapé-logo-eventshare-sub3, .rodapé-contato-sub3, .rodapé-icones-sub3, .rodapé-redes-sociais-sub3{
    display: none
}

.rodapé-logo-tw-sub3 img{
    width: 30vw;
}

#rodapé-sub3{
    
    width: 100vw;
    height: 15vh;
    margin: 0;
    /* padding: 0; */
}

.rodapé-conteudo-sub3{
    /* background: yellow; */
    height: 15vh;
}

.rodapé-logos-sub3{
    /* background: #ED312F; */
    width: 40vw;
    height: 8vh;
}
}
/*Fim Media Query submeter evento3 375px*/
